.first_part, .second_part, .third_part, .fourth_part, .fifth_part, .sixth_part{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;

}


.first_part_left_side, .second_part_right_side{
    width:50%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_part_right_side , .second_part_left_side{
    width:50%;
    height:auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weddings_description , .second-part-description{
    padding-left:250px;
    padding-right: 250px;
    line-height: 35 px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

.weddings-heading , .second-part-heading{
    font-size: 40px;
}

.get-in-touch{
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-in-touch-card{
    width:400px;
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.get-in-touch-icon{
    width:50px !important;
    height:50px !important;
}

.mobile-card{
    background-color: black;
    color: white;
}

.email-card{
    background-color: rgb(205, 197, 197);
}

.facebook-card{
    background-color: rgb(59,89,152);
}

.quote-card{
    background-color: rgb(104, 207, 207);
}

.footer-section{
    width:100%;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    width:400px;
    height:80px;

}

.copy-right{
    text-align: center;
}

.locations{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height:80px;
    justify-content: center;

}

.weddings-photo{
    height: 100%;
    margin-left: 100px;
    width:90%;
    margin-top: 100px;
}

.portraits-photo{
    width: 90%;
    height: 100%;
    margin-right: 95px;
    margin-top: 100px;
    
}