.navbar{
    width:100%;
    height:9vh;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
}

.left_nav{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_nav{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last_nav{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style-type: none;
}
a{
    color:white;
    text-decoration: none;
}